MONGODB_URI=
PORT=4105
NEX4D_DAY_ENDPOINT=https://www.nex4dpools.com/func/plyreq/getHistoryResult?filterDate=&drawType=day&_=1780578234728
NEX4D_NIGHT_ENDPOINT=https://www.nex4dpools.com/func/plyreq/getHistoryResult?filterDate=&drawType=night&_=1780578234728
GEMINI_API_KEY=
GOOGLE_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
AI_ANALYST_API_KEY=
